<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog App</title>
</head>
<style>
    * {
      box-sizing: border-box;
    }
    
    /* Add a gray background color with some padding */
    body {
      font-family: Arial;
      padding: 20px;
      background: #f1f1f1;
    }
    
    /* Header/Blog Title */
    .header {
      padding: 30px;
      font-size: 40px;
      text-align: center;
      background: white;
    }
</style>    
<body>
    <div class="header">
      <h2>Blog Name</h2>
    </div>
</body>
</html> -->